<div class='center hero-unit'>
  <h1>Welcome to Twister</h1>

  <h2>The Twitter cloned ever designed for SE0861.</h2>

  <%= link_to 'Sign up now!', signup_path, class: 'btn btn-primary btn-large' %>
</div>