<li>
  <span class='content'><%= tweet.content %></span>
  <span class='timestamp'><%= time_ago_in_words(tweet.created_at) %></span>
  <% if current_user?(tweet.user) %>
    <%= delete_link tweet_path(tweet), message: 'Are you sure?' %>
  <% end %>
</li>