<%= form_for(@tweet) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='field'>
  	<%= f.text_area :content, placeholder: 'Tweet something now...' %>
  </div>
  <%= f.submit "Tweet", class: 'btn btn-large btn-primary' %>
<% end %>
